/* RESET BÁSICO */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* VARIAVEIS CSS */

:root{
    --color-font1:#fff;
    --color-font2:#333;
    --color-font3:rgb(4,25,32);
    --color-font4:yellow;
    --gradient:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.3));
    --font-size:4rem;
}

html{
    /*calcula a base da font da pagina e converte para 10 pixels*/
    font-size: 62.5%;
    /*efeito de suavidade ao faz o scroll*/
    scroll-behavior: smooth;
}
body{
    background: transparent;
}
img{
    display: block;
    max-width: 100%;
}

nav ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--color-font1);
    font-weight: 900;
    transition: color 0.3s;
    font-size: 2rem;
    text-transform: uppercase;
}
a:hover{
    color:var(--color-font4);
}
.hero{
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    background-image: var(--gradient), url(../assets/imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
header h1{
    font-size: 4rem;
    position:relative ;
}
.header-menu{
    display: flex;
    position: relative;
    gap: 20px;
}
span{
    color: var(--color-font4);
}
#titulo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}


/*Responsividade*/
@media(width <= 1024){
    .header-menu{
        width: 100%;
        height: 100vh;
        position:absolute;
        text-align: center;
        flex-direction: column;

    }
    #titulo{
        font-size: 2rem;
    }
}